
.bn .bn { DISPLAY: block; }
.bn .en { DISPLAY: none; }
.en .bn { DISPLAY: none; }
.en .en { DISPLAY: block; }
.hide { DISPLAY: none; }
.text { max-width:600px; text-align:justify; }
#proof { background-color: #FFFFD5; border:1px solid orange; display:none; height: 20px; padding: 10px; }